@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Inter:wght@400;600;700&display=swap");
:root {
  /* colors */
  /* Backgrounds Colors */
  --bg-color-white: #fff;
  --bg-color-green: #5cad2f;
  /* Fonts Colors  */
  --font-color-white: #ffffff;
  --font-color-black: #011524;
  --font-color-green: #5cad2f;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* globals classes  */
body {
  color: var(--font-color-black);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
}
/* colors utilites classes  */
.text-white {
  color: var(--font-color-white);
}
.text-black {
  color: var(--font-color-black);
}
.text-green {
  color: var(--font-color-green);
}
.section__container__padding {
  padding: 50px;
}
.bg-green {
  background-color: var(--bg-color-green);
}
.bg-white {
  background-color: var(--bg-color-white);
}
.section__divider {
  width: 100%;
  /* height: auto; */
  height: 225px;
}
/* botton utilites classes  */
.section__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 57px;
  /* display: flex;
  align-items: center; */
  text-transform: capitalize;
}
.big-btn1 {
  background-color: var(--bg-color-white);
  border: 1px solid var(--bg-color-white);
  color: var(--font-color-green) !important;
  border-radius: 38px;
  padding: 16px 50px;
  text-transform: capitalize;
  margin-top: 31.39px;
  display: inline-block;
  font-size: 18px;
  letter-spacing: 2.3px;
  transition: background-color, color, border 350ms 150ms ease-in-out;
}
.big-btn1:hover {
  color: var(--bg-color-white) !important;
  background-color: transparent;
  border: 1px solid var(--bg-color-white);
}
/* images utilites classess */
.logo-sizing {
  width: 144px;
  height: auto;
}
/* flex-box utilites classes  */
.f-d {
  display: flex;
}
.f-a-i-c {
  align-items: center;
}
.f-a-i-s {
  align-items: flex-start;
}
.f-a-i-e {
  align-items: flex-end;
}
.f-j-c-s-b {
  justify-content: space-between;
}
.f-j-c-s-c {
  justify-content: center;
}
.f-d-c {
  flex-direction: column;
}

/* start navigation section  */
.navbar {
  height: 100px;
  padding: 0px 80px;
  display: flex;
  align-items: center;
}
.main-menu {
  padding: 10px 40px;
  background-color: var(--bg-color-green);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.main-menu li {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-menu a {
  margin-left: 15px;
  font-weight: 600;
  color: var(--font-color-white);
  line-height: 100%;
}
.main-menu a:hover {
  text-decoration: underline;
}
/* end navigation section  */

/* Start slider  */
.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 1000px; */
  margin: auto;
  min-width: 100%;
  min-height: 572px;
  position: relative;
  /* max-width: 1308px; */
}
.slide-container .slide {
  display: none;
  width: 100%;
  height: 572px;
  position: relative;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  text-transform: capitalize;
  color: var(--font-color-black);
  /* margin-bottom: 21px; */
}
.slide-container .slide .text {
  position: absolute;
  width: 500px;
  top: 80px;
}
.slide-container .slide .text.text-slide-1 {
  left: 35px;
}
.slide-container .slide .text.text-slide-2 {
  width: 450px !important;
  right: 0px;
}
.slide-container .slide .text p.text-slider-1 {
}

.slide-container .slide img {
  width: 100%;
  min-height: 572px;
}

.slide-container .prev,
.slide-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  width: auto;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.6s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

.slide-container .prev:hover,
.slide-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.slide-container .prev {
  left: 2px;
}

.slide-container .next {
  right: 2px;
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.dots-container .dot {
  cursor: pointer;
  margin: 0 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--bg-color-green);
  transition: background-color 350ms 150ms ease-in-out;
}

.dots-container .dot.active {
  background-color: var(--bg-color-white);
}
/* end slider  */
.divider {
  position: relative;
}
/* Start Section 1 */
.section__title.section__1__title {
  position: absolute;
  width: 700px;
  height: 105.92px;
  left: 35%;
  top: 60px;
  color: var(--font-color-white);
}
.grap_container {
  gap: 52.23px;
}
.column {
  position: relative;
}
.column .borne__image {
  width: 200px;
  /* opacity: 0.6; */
  height: auto;
  position: absolute;
  right: -100px;
  bottom: 0;
}
.indic {
  background-color: var(--bg-color-green);
  color: var(--font-color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px 12px 0 0;
  width: 240px;
}
.indic .value {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.indic .value h3 {
  font-weight: 900;
  font-size: 34.1648px;
  line-height: 41px;
}
.indic .indic__desc {
  /* width: 861.88px; */
  /* height: 105.92px;
  left: 578.67px;
  top: 872.33px; */
  color: var(--font-color-white);
  font-weight: 600;
  font-size: 29.28px;
  margin: 0;
}
.indic.indic__1 {
  height: 240px;
}
.indic.indic__2 {
  height: 284.17px;
}
.indic.indic__3 {
  height: 378.89px;
}
/* End Section 1 */
/* Start Section 2 */
.section__2__title {
  margin-top: -62px;
  width: 70%;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 12px;
}
.number {
  float: left;
  min-width: 48px;
}
.card__title {
  font-weight: 900;
  font-size: 25px;
  margin-top: 49px;
  margin-bottom: 21px;
}
.card-disc {
  margin-left: 5px;
  font-size: 16px;
  line-height: 35px;
  /* width: 280px; */
  /* or 194% */
  font-weight: 600;
  letter-spacing: 0.03em;
  text-transform: capitalize;
}
/* .card-sm-disc {
  position: absolute;
  top: 51px;
  left: 106px;
  max-width: 170px;
} */
.grid-item {
  background: #d9d9d9;
  opacity: 0.7;
  border-radius: 30px;
  position: relative;
  padding-top: 51px;
  padding-left: 10px;
}
.grid-item1 {
  grid-area: 1 / 1 / 2 / 2;
}
.grid-item2 {
  grid-area: 1 / 2 / 2 / 3;
}
.grid-item3 {
  grid-area: 1 / 3 / 2 / 4;
}
.grid-item4 {
  grid-area: 2 / 1 / 3 / 2;
}
.grid-item5 {
  grid-area: 2 / 2 / 3 / 3;
}
.grid-item6 {
  grid-area: 2 / 3 / 4 / 4;
}
.grid-item7 {
  grid-area: 3 / 1 / 4 / 2;
}
.grid-item8 {
  grid-area: 3 / 2 / 4 / 3;
}
/* End Section 2 */
/* responsive designe  */
/* Mobile first queries */
.slider__marque {
  width: 100%;
  height: 100px;
}
.slider__marque img {
  width: 127px;
  height: 100px;
}
.slider__container {
  padding: 20px 30px;
  border-radius: 12px;
}
/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}
