@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Inter:wght@400;600;700&display=swap");
:root {
  /* colors */
  /* Backgrounds Colors */
  --bg-color-white: #fff;
  --bg-color-green: #5cad2f;
  --bg-color-orange:#ffae10;
  /* Fonts Colors  */
  --font-color-white: #ffffff;
  --font-color-black: #011524;
  --font-color-green: #5cad2f;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* globals classes  */
body {
  color: var(--font-color-black);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
}
/* colors utilites classes  */
.text-white {
  color: var(--font-color-white);
}
.text-black {
  color: var(--font-color-black);
}
.text-green {
  color: var(--font-color-green);
}
.text-ornage{
  color: var(--bg-color-orange);
}
.mt-80 {
  margin-top: 80px;
}
.mt-30 {
  margin-top: 50px;
}
.section__container__padding {
  padding: 50px 80px;
}
.bg-orange{
  background-color: var(--bg-color-orange);
}
.bg-green {
  background-color: var(--bg-color-green);
}
.bg-white {
  background-color: var(--bg-color-white);
}
.section__padding {
  padding: 50 90px;
}
.section__divider {
  width: 100%;
  /* height: auto; */
  height: 225px;
}
/* botton utilites classes  */
.section__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 57px;
  /* display: flex;
  align-items: center; */
  text-transform: capitalize;
}
.section__sub__title {
font-weight: 900;
font-size: 30px;
line-height: 36px;
text-transform: capitalize;
width: 417.74px;
}
.big-btn1 {
  background-color: var(--bg-color-white);
  border: 1px solid var(--bg-color-white);
  color: var(--font-color-green) !important;
  border-radius: 38px;
  padding: 16px 50px;
  text-transform: capitalize;
  margin-top: 31.39px;
  display: inline-block;
  font-size: 18px;
  letter-spacing: 2.3px;
  transition: background-color, color, border 350ms 150ms ease-in-out;
}
.big-btn1:hover {
  color: var(--bg-color-white) !important;
  background-color: transparent;
  border: 1px solid var(--bg-color-white);
}
/* images utilites classess */
.logo-sizing {
  width: 144px;
  height: auto;
}
/* flex-box utilites classes  */
.f-d {
  display: flex;
}
.f-a-i-c {
  align-items: center;
}
.f-a-i-s {
  align-items: flex-start;
}
.f-a-i-e {
  align-items: flex-end;
}
.f-j-c-s-b {
  justify-content: space-between;
}
.f-j-c-s-c {
  justify-content: center;
}
.f-d-c {
  flex-direction: column;
}

/* start navigation section  */
.navbar {
  height: 100px;
  padding: 0px 80px;
  display: flex;
  align-items: center;
}
.main-menu {
  padding: 10px 40px;
  background-color: var(--bg-color-green);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main-menu li {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-menu a {
  margin-left: 15px;
  font-weight: 600;
  color: var(--font-color-white);
  line-height: 100%;
}
.main-menu a:hover {
  text-decoration: underline;
}
/* end navigation section  */

/* Start slider  */
.slide-container {
  min-height: 720px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 1000px; */
  margin: auto;
  /* min-width: 100%;
  min-height: 572px; */
  position: relative;

  /* max-width: 1308px; */
}
.slide-container .slide {
  max-width: 1200px;
  min-width: 100%;
  max-height: 720px;

  /* display: none; */
 
  /* height: 572px; */
  position: relative;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  text-transform: capitalize;
  color: var(--font-color-black);
  /* margin-bottom: 21px; */
}
.slide-container .slide .text {
  position: absolute;
  width: 800px;
  top: 30%;
  text-shadow: 3px 3px 4px #01152440;
}
.slide-container .slide .text.text-slide-1 {
  left: 25px;
  
}
.slide-container .slide .text.text-slide-2 {
  width: 450px !important;
  right: 25px;
}
.slide-container .slide .text p.text-slider-1 {
}

.slide-container .slide img {
  width: 100%;
  min-height: 572px;
}

.slide-container .prev,
.slide-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  width: auto;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.6s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

.slide-container .prev:hover,
.slide-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.slide-container .prev {
  left: 2px;
}

.slide-container .next {
  right: 2px;
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.dots-container .dot {
  cursor: pointer;
  margin: 0 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--bg-color-green);
  transition: background-color 350ms 150ms ease-in-out;
}

.dots-container .dot.active {
  background-color: var(--bg-color-white);
}
/* end slider  */
.divider {
  position: relative;
}
/* Start Section 1 */
.section__title.section__1__title {
  position: absolute;
  width: 700px;
  height: 105.92px;
  left: 35%;
  top: 60px;
  color: var(--font-color-white);
}
.grap_container {
  gap: 52.23px;
}
.column {
  position: relative;
}
.column .borne__image {
  width: 200px;
  /* opacity: 0.6; */
  height: auto;
  position: absolute;
  right: -100px;
  bottom: 0;
}
.indic {
  background-color: var(--bg-color-green);
  color: var(--font-color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px 12px 0 0;
  width: 240px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.indic .value {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.indic .value h3 {
  font-weight: 900;
  font-size: 34.1648px;
  line-height: 41px;
}
.indic .indic__desc {
  /* width: 861.88px; */
  /* height: 105.92px;
  left: 578.67px;
  top: 872.33px; */
  color: var(--font-color-white);
  font-weight: 600;
  font-size: 29.28px;
  margin: 0;
}
.indic.indic__1 {
  height: 240px;
}
.indic.indic__2 {
  height: 284.17px;
}
.indic.indic__3 {
  height: 378.89px;
}
/* End Section 1 */
/* Start Section 2 */
.section__2__title {
  margin-top: -62px;
  width: 70%;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 12px;
}
.number {
  float: left;
  /* min-width: 48px; */
  width: 86px;
  height: 129px;
}
.card__title {
  font-weight: 900;
  font-size: 25px;
  margin-top: 49px;
  margin-bottom: 21px;
}
.card-disc {
  margin-left: 5px;
  font-size: 16px;
  line-height: 35px;
  /* width: 280px; */
  /* or 194% */
  font-weight: 600;
  letter-spacing: 0.03em;
  text-transform: capitalize;
}
/* .card-sm-disc {
  position: absolute;
  top: 51px;
  left: 106px;
  max-width: 170px;
} */
.grid-item {
  background: #d9d9d9;
  opacity: 0.7;
  border-radius: 30px;
  position: relative;
  padding-top: 51px;
  padding-left: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.grid-item1 {
  grid-area: 1 / 1 / 2 / 2;
}
.grid-item2 {
  grid-area: 1 / 2 / 2 / 3;
}
.grid-item3 {
  grid-area: 1 / 3 / 2 / 4;
}
.grid-item4 {
  grid-area: 2 / 1 / 3 / 2;
}
.grid-item5 {
  grid-area: 2 / 2 / 3 / 3;
}
.grid-item6 {
  grid-area: 2 / 3 / 4 / 4;
}
.grid-item7 {
  grid-area: 3 / 1 / 4 / 2;
}
.grid-item8 {
  grid-area: 3 / 2 / 4 / 3;
}
/* End Section 2 */
/* responsive designe  */
/* Mobile first queries */
.slider__marque {
  width: 100%;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.slider__marque img {
  width: 127px;
  height: 100px;
}
.slider__container {
  padding: 20px 30px;
  border-radius: 12px;
}
/* start section 4 */
.section__background {
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}
.section__title__line::after {
  content: "";
  position: absolute;
  top: 69px;
  left: 90px;
  width: 20%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--bg-color-green);
}
.contan__card {
  position: relative;
  width: 326px;
  height: 423px;
  background-color: red;
  border-radius: 9px;
  color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}
.conton__flag {
  position: absolute;
  width: 68px;
  height: 92px;
  top: 0px;
  left: 20px;
}
.conton__card__title {
  position: absolute;
  top: 16px;
  left: 120px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;

  width: 148px;
}
.conton__card__desc {
  width: 246px;
  height: auto;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.conton__card__btn {
  color: #ffffff;
  width: 237.24px;
  height: 38px;
  display: inline-block;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
  line-height: 38px;
  text-align: center;
}
.conton__card__btn:hover {
  background-color: var(--bg-color-white);
  color: var(--bg-color-green);
}
.conton__bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.bern_bg {
  background-image: url(../img/bern_background.png);
}
.freiburg_bg {
  background-image: url(../img/bern_background.png);
}
.geneve_bg {
  background-image: url(../img/geneve_background.png);
}
.vaud_bg {
  background-image: url(../img/vaud_background.png);
}
.valais_bg {
  background-image: url(../img/valais_background.png);
}

.neuchatel_bg {
  background-image: url(../img/neuchatel_background.png);
}
.jura_bg {
  background-image: url(../img/jura_background.png);
}

.swiper2 {
  width: 880px;
  overflow: hidden;
}
.swiper2 .swiper-slide {
  scale: 0.8;
  transition: scale 350ms 150ms ease-in-out;
}
.swiper2 .swiper-slide-active {
  scale: 0.9;
  z-index: 1;
}
#video1Btn{
  width: 100%;
  height: auto;
}
/* #video1Btn{
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  width: 80px;
  height: auto;
  right: 50%;
  transform: translate(-50%,-50%); */

#video1Btn img{
  width: 100%;
  height: auto;
}
#video1Btn img:hover{
  transform: scale(1.1);
}

.siwper2 .swiper-pagination {
  bottom: -10px !important;
}
/* .video__img{
  background-image: url(../img/video__background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
} */
/* #video1Btn{
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  top: 0;
  width: 0;
} */
/* end section 4 */
.contact__us{
  position: relative;

  width: 100%;
}
.contact__us form{
  /* border: 1px solid #5cad2f;
  width: 50%;
  padding: 40px; */
  width: 20000px;
  height: auto;
 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* border: 1px solid #5cad2f; */
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 13px;
}
.contact__us form input{
  /* display: block; */
  outline: var(--bg-color-green);
  border: 1px solid var(--bg-color-green);
}
.contact__us__graph{
  min-width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: -150px;
  background-image: url(../img/renovable__ener.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Start section faq  */
.faq-header{
  font-size: 42px;
  border-bottom: 1px solid #ccc;
  padding: 24px;
}

.faq-content {
  margin: 0 auto;
}

.faq-question {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.panel-title {
  /* font-size: 24px; */
  font-weight: 900;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 10px 10px 0 48px;
  display: block;
  cursor: pointer;
}

.panel-content {
  /* font-size: 20px; */
  padding: 0px 14px;
  margin: 0 40px;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.panel:checked ~ .panel-content{
  z-index: 100;
  height: auto;
  opacity: 1;
  padding: 14px;
}

.plus {
  font-size: 35px;
  position: absolute;
  margin-left: 20px;
  margin-top: 4px;
  z-index: 5;
  font-size: 16px;
  /* line-height: 100%; */
  line-height: 36px;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}
.panel:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.faq-question .panel {
  display: none;
}
/* End section faq  */



/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}
